$facebook_blue: #4C77D8;
$twitter_blue: #059FF5;
$linkedin_blue: #0077B5;

$color_grey_900: #363636;
$color_grey_700: #6D7072;
$color_grey_500: #CCC;
$color_grey_400: #F1F4F5;
$color_grey_300: #fff;

$color_primary: #19647E;
$color_secondary: #F5DD90;
$color_tertiary: #EE6C4D;

$color_text: #fff;
