@mixin section {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8vw;
  padding-bottom: 8vw;
  z-index: 10;
  overflow: hidden;

  @include mq-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.inner {
  max-width: 1087px;
  margin: auto;
}

.section-header {
  @include section;
  background-color: $color_primary;
  color: white;
  min-height: 60vh;
  padding-bottom: 20vw;
  padding-top: 12vw;

  @extend .layout-center;

  .inner {
    text-align: center;
  }

}

.footer {
  @include section;
  padding-top: 19vw;
  background-color: $color_grey_400;

  text-align: center;

  a {
    margin: auto;
    display: block;
    width: 200px;
  }
}
